.recenzii {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
    background-color: var(--bg-color);
    text-align: center;
    min-height: 100vh;
}

.recenzii-content {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    padding: 6rem 4rem;
}

/* Header Styling */
.recenzii-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.recenzii-header .header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recenzii .subtitle {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 0.85rem;
    letter-spacing: 1.5px;
    margin-bottom: 0.5rem;

}

.recenzii h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.8rem;
    color: #1a1e24;
    margin-bottom: 1rem;
}

.recenzii h2 span {
    color: var(--accent-color);
    /* Or use your gold gradient */
}

.recenzii .description {
    color: #666;
    max-width: 500px;
    line-height: 1.5;
}

.recenzii-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 1200px;
}


.recenzie-card {
    background-color: #fff;
    padding: 2.5rem 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    text-align: left;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.recenzie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.recenzie-info{
    color: #333
}
.recenzie-profil {
    color: #000;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.recenzie-pfp{
    background-color: #fbf0e9;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--accent-color);
    font-size: 1.2rem;
}
.recenzie-profil p{
    color: var(--muted)
}

/* From Uiverse.io by TheDuskPD */ 
.rating {
  display: inline-block;
}

.rating label {
  /* float: right; */
  cursor: pointer;
  transition: color 0.3s;
  color: #ffd700;
}

.rating label:before {
  content: "\2605";
  font-size: 30px;
}





@media (max-width: 600px) {
    .recenzii-grid {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 1rem;
        padding-bottom: 2rem; /* Space for scrollbar/shadow */
    }

    .recenzie-card {
        min-width: 75vw; /* Show part of the next card */
        scroll-snap-align: center;
    }

    .recenzii {
        padding: 1rem 1.5rem;
    }

    .header-text h2 {
        font-size: 2rem;
    }

    .recenzii-content {
        padding: 1rem 0rem;
    }
}