.galerie_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: .3rem
}

.galerie_page .subtitle {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 0.85rem;
    letter-spacing: 1.5px;
    margin-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.galerie_page h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.8rem;
    color: #1a1e24;
    margin-bottom: 1rem;
}

.galerie_page .description {
    color: #666;
    max-width: 500px;
    line-height: 1.5;
    text-align: center;
}

.galerie-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.project-card {
    cursor: pointer;
}

.project-image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 4/5;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 1.2rem;
}

.project-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.project-card:hover img {
    transform: scale(1.05);
}

.proiecte-preview-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #1a1e24ae;
    display: flex;
    justify-content: center;
    padding: 5rem;
    align-items: center;
}

.proiecte-preview-image-container img {
    /* width: 30vw; */
    height: 80vh;
    object-fit: cover;
    border-radius: 20px;
    object-position: 0 0;
}

.proiecte-preview-image-container .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.proiecte-preview-image-container .next-btn {
    position: absolute;
    top: 50%;
    /* right: 5%; */
    transform: translateY(-50%);
    background-color: var(--surface-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    padding: .5rem;
    border-radius: 50%;
}

.proiecte-preview-image-container .next-btn.left {
    left: 5%;
}

.proiecte-preview-image-container .next-btn.right {
    right: 5%;
}

@media (max-width: 600px) {
    .galerie-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}